html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}


/* Navbar animation */

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
    background-color: #1C2331;
}


/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #1C2331;
}

.fnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fnav li {
    display: inline;
}

.fnav a {
    color: white;
}

.profile-picture {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.big-profile-picture {
    margin: 0 auto;
    border: 5px solid #50597b;
    width: 150px;
    height: 150px;
}

.small-profile-picture {
    border: none;
    width: 40px;
    height: 40px;
}

.small-profile-picture img {
    vertical-align: middle;
}

.big-profile-picture {
    margin: 0 auto;
    margin-top: 5%;
    border: none;
    width: 150px;
    height: 150px;
}

.big-profile-picture img {
    width: 170px;
    height: auto;
}